# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/HugeFileSorter/nbproject/private/
/HugeFileSorter/build/Debug/
/HugeFileSorter/dist/Debug/